<!DOCTYPE html>
<html ng-app="testUpdate" ng-controller="TestUpdateCtrl">
<head>
<meta charset="UTF-8">
<title>検索サンプル</title>

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<link type="text/css" media="screen"
	href="lib/jquery/css/jquery-ui.structure.css" rel="stylesheet" />
<link type="text/css" media="screen" href="lib/jquery/css/ui.jqgrid.css"
	rel="stylesheet" />

<link type="text/css" media="screen"
	href="lib/jquery/css/jquery-ui.theme.css" rel="stylesheet" />
<link type="text/css" media="screen" href="lib/jquery/css/jquery-ui.css"
	rel="stylesheet" />

<script type="text/javascript" src="lib/jquery/js/jquery.js"></script>
<script type="text/javascript" src="lib/jquery/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="lib/jquery/js/jquery.jqGrid.min.js"></script>
<script type="text/javascript"
	src="lib/jquery/js/i18n/grid.locale-ja.js"></script>
<script type="text/javascript" src="lib/jquery/js/jquery.ui.js"></script>
<script type="text/javascript" src="lib/jquery/js/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="lib/jquery/js/jquery.ui.datepicker-ja.js"></script>

<script type="text/javascript" src="lib/jquery/js/jquery.tablednd.js"></script>

<script type="text/javascript" src="lib/m2m.js"></script>

<style type="text/css">
body, button, input, table {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo,
		sans-serif;
}
</style>

</head>
<script src="bower_components/angular/angular.js"></script>
<script>
	var testUpdate = angular.module('testUpdate', []);

	testUpdate.controller('TestUpdateCtrl', [
			'$scope',
			'$http',
			function($scope, $http) {
				$scope.rsmessage = '';
				$scope.update = function(pid,pmessage){
					$http.post('http://localhost:30042/jax-rs/m2m/update', {UpdateItemRequest: {"message" : pmessage, "id" : pid }}).success(function(data) {
						$scope.rs = data.result.result;
						if($scope.rs)
						{
							$scope.rsmessage = 'Update Success!';
						}
						else
						{
							$scope.rsmessage = 'Update Error!';
						}
					});
				};
			}
			]);

</script>
<body>

	<!-- 結果を表示 -->
	<table id="result"></table>
	<div>
		Id: <input ng-model="id">
		<br />
		New message: <input ng-model="message">
		<br />
		<input type="button" value="action" ng-click="update(id,message);">
		<br />
		{{rsmessage}}
	</div>
	<br>
	<br>



</body>
</html>